<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <%= link_to user_path(@article.user) do %>
        <%= attachment_image_tag @article.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",  size: "100x100" %>
        <%= @article.user.name %>
        <%= @article.user.sex %>
      <% end %>
      <% if user_signed_in? %>
        <% if @article.favorited_by?(current_user) %>
          <p>
            <%= link_to article_favorites_path(@article), method: :delete do %>
            ♥<%= @article.favorites.count %> いいね
            <% end %>
          </p>
            <% else %>
          <p>
             <%= link_to article_favorites_path(@article), method: :post do %>
             ♡<%= @article.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
        <button type="button" data-toggle="modal" data-target="#modalf1" style="background: none; border: none;">
          <i class="far fa-comment"></i>コメント
    　　　</button>
        <div class="modal fade" id="modalf1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <%= render "comments/form", article: @article %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-8 text-center">
      <div class="card  mb-3 d-inline-block w-100">
        <div class="card-header text-center bg-warning">
          <strong>記事内容</strong>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @article.title %></h4>
          <p class="card-text"><%= simple_format(@article.body) %></p>
          <% if user_signed_in? && @article.user_id == current_user.id %>
          <button type="button" class= "btn btn-outline-success text-center" data-toggle="modal" data-target="#modalf2">
            記事編集
          </button>
          <div class="modal fade" id="modalf2" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <%= render "articles/edit", article: @article %>
              </div>
            </div>
          </div>
          <%= link_to "削除", article_path(@article), method: :delete, class: 'btn btn-outline-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <h5>コメント一覧</h5>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-warning">
        <tr>
          <th>name</th>
          <th>comment</th>
          <th>time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @article.comments.order(created_at: :desc).each do |comment| %>
        <tr>
          <td>
            <%= attachment_image_tag comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",  size: "100x100" %><br>
            <%= comment.user.name %>
          </td>
          <td>
            <%= comment.body %>
          </td>
          <td>
            <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
          </td>
          <td>
            <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to '削除する', article_comments_path(comment), method: :delete %>
            <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


