<div class="container">
  <div class="col text-center">
    <div>My Page 編集</div>
    <%= form_with model:@user, local:true do |f| %>
      <div><%= f.attachment_field :profile_image, class: "user_image" %></div>
      <div><%= f.text_field :name %></div>
      <div><%= f.text_area :introduction %></div>
      <%= f.submit '保存' %>
    <% end %>
  </div>
</div>