<div></div>
<div><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",  size: "100x100" %><br>
<%= @user.name %>
<label><%= @user.sex %></label>
</div>
<div><%= @user.introduction %></div>

<div><%= link_to "ТіЋуе┐", new_article_path %></div>
<div><%= link_to "сѓ┐сѓ╣сѓ»" %></div>
<div><%= link_to "уиежЏє", edit_user_path %></div>




<div>ТіЋуе┐СИђУдД</div>

<table class="table">
  <thead>
    <tr>
        <th>ТіЋуе┐ТЌЦТЎѓ</th>
        <th>сѓ┐сѓцсЃѕсЃФ</th>
        <th>сЂёсЂёсЂГТЋ░</th>
        <th>сѓ│сЃАсЃ│сЃѕТЋ░</th>
        <th><%=%></th>
        <th><%=%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <% @articles.each do |article| %>
        <td><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to article.title, article_path(article) %></td>
        <td>d(№┐Б №┐Б)<%= article.favorites.count %></td>
        <td>­Ъњг<%= article.comments.count%></td>
    </tr>
    <% end %>
  </tbody>
</table>