<div class="container">
  <div class="row mt-3 justify-content-center">
    <h5>
      プロフィール
    </h5>
  </div>
  <div class="row mt-3">
    <div class="col-xs-3">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg",  size: "100x100" %><br>
      <strong><%= @user.name %></strong>
      <label>
        <strong><%= @user.sex %></strong>
      </label>
    </div>
    <div class="col-sm-7">
      <% if user_signed_in? && @user.id == current_user.id %>
      <div>
        <%= link_to "投稿", new_article_path %>
      </div>
      <div>
        <%= link_to "タスク", tasks_path %>
      </div>
      <div>
        <%= link_to "編集", edit_user_path %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= @user.followings.count %>
    <%= @user.followers.count %>
  </div>
  <div class="row">
    <%= simple_format(@user.introduction) %>
  </div>
  <div class="row">
  <% unless current_user == @user %>
    <% if current_user.following?(@user) %>
      <%= form_with(model: current_user.relationships.find_by(follow_id: @user.id),method: :delete) do |f|  %>
        <%= f.hidden_field :follow_id, value: @user.id %>
        <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
      <% end %>
    <% else %>
      <%= form_with(model: current_user.relationships.build) do |f| %>
        <%= f.hidden_field :follow_id, value: @user.id %>
        <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div class="row justify-content-center">
    投稿履歴
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
          <th>投稿日時</th>
          <th>タイトル</th>
          <th>いいね数</th>
          <th>コメント数</th>
          <th><%=%></th>
          <th><%=%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <% @articles.each do |article| %>
          <td><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <td>d(￣ ￣)<%= article.favorites.count %></td>
          <td>💬<%= article.comments.count%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>