<div></div>
<div><%= %> <br><%= @user.name %>
</div>
<div><%= @user.introduction %></div>

<div></div>
<div></div>




<div>投稿一覧</div>

<table class="table">
  <tbody>
    <tr>
      <% @articles.each do |article| %>
      <td><%= article.created_at %></td>
      <td><%= article.title %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>