<!DOCTYPE html>
<html>
  <head>
    <title>IDEAL</title>
    <%= csrf_meta_tags %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="/">IDEAL-BODY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdownDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="navbar-item">
                <%= link_to"HOME", root_path, class: 'nav-link' %>
              </li>
              <li class="navbar-item">
                <%= link_to"news!", articles_path, class: 'nav-link' %>
              </li>
              <li class="navbar-item">
                <%= link_to"my page",user_path(current_user.id), class: 'nav-link' %>
              </li>
              <li class="navbar-item">
                <button type="button" data-toggle="modal" data-target="#serchModal" style="background: none; border: none;">
                  <li class="fas fa-search"></li>
                </button>
                <div class="modal fade" id="serchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding: 50px 100px;">
                      <%= render 'layouts/search', class: 'nav-link'%>
                    </div>
                  </div>
                </div>
              </li>
              <li class="navbar-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li>
                <%= link_to"Home", root_path, class: 'nav-link' %>
              </li>
              <li>
                <%= link_to"news!", articles_path, class: 'nav-link' %>
              </li>
              <li>
                <button type="button" data-toggle="modal" data-target="#serchModal" style="background: none; border: none;">
                  <li class="fas fa-search"></li>
                </button>
                <div class="modal fade" id="serchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding: 50px 100px;">
                      <%= render 'layouts/search', class: 'nav-link'%>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path,class: 'nav-link' %>
              </li>
              <li></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
