<!DOCTYPE html>
<html>
  <head>
    <title>IDEAL</title>
    <%= csrf_meta_tags %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to"Ideal-body!!!", root_path %>
      </li>
      <li>
        <%= link_to"news!", articles_path %>
      </li>
      <li>
        <%= link_to"my page",user_path(current_user.id) %>
      </li>
      <li>
        <%= render 'layouts/search'%>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to"Ideal-body!!!", root_path %>
      </li>
      <li>
        <%= link_to"news!", articles_path %>
      </li>
      <li>
        <%= render 'layouts/search'%>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li></li>
    <% end %>
    <%= yield %>
  </body>
</html>
